body{
    /* background-color: #FF8C00; */

   /* background-color: #9B59B6; */
    background-color: #1ABC9C;
}
.calculator {
    background-color: #26547C;
    max-width: 300px;
    margin: 50px auto;
    text-align: center;
}

input[type="text"] {
    width: 93%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
    background-color: #f2f2f2;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

button.operator {
    background-color: #ff9900;
    color: #fff;
}